version: '3.7'
services:
  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    ports:
      - "3000:8080"
    environment:
      - OPENAI_API_BASE_URLS=https://api.openai.com/v1;https://generativelanguage.googleapis.com/v1beta/openai
      - OPENAI_API_KEYS=${OPENAI_KEY};${GEMINI_KEY}
    volumes:
      - open-webui:/app/backend/data
    depends_on:
      - postgres
    restart: always
    networks:
      - pi-network 
  
  volumes:
  open-webui:

networks:
  pi-network:
    driver: bridge
